*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix ::after{
    clear: both;
    content: "";
    display: table;
}

body{
    width: 80%;
    text-align: center;
    margin: auto;
    font-family: 'Quicksand', sans-serif
}

.title{
    font-family: 'Quicksand', sans-serif;
    color: #e53170;
    padding: 30px;
}

.col{

    width: calc(100% / 3);
    float: left;
    margin-top: 100px;
    text-align: left;
}

.profile-img{
    height: 100px;
    float: left;
}

.nome{
    color: white;
    text-align: left;
    text-align: left;
    display: inline-block;

}

.card{
    width: 80%;
    background-color: #0f0e17;
    text-shadow: 2px 2px 4px black;
  filter:DropShadow(Color=#000000, OffX=2, OffY=2);
}

.work{
    padding: 0;
    color: white;
}

.email{
    color: rgb(65,148,173);
}