*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix ::after{
    clear: both;
    content: "";
    display: table;
}

body{
    width: 80%;
    text-align: center;
    margin: auto;
    font-family: 'Quicksand', sans-serif
}

header{
    padding: 10%;
}

.title{
    font-family: 'Quicksand', sans-serif;
    color: #e53170;
    padding: 30px;
}

.col{

    width: calc(100% / 3);
    float: left;
    text-align: left;
    padding: 20px;
}

.profile-img{
    height: 100px;
    float: left;
    border-radius: 10px;
}

.nome{
    color: white;
    text-align: left;
    text-align: left;
    display: inline-block;

}

.card{
    width: 80%;
    background-color: #0f0e17;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.144);
    border-radius: 10px;
}

.work{
    padding: 0;
    color: white;
}

.email{
    color: rgb(65,148,173);
}

.word-space{
    display: inline-block;
}