*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix ::after{
    clear: both;
    content: "";
    display: table;
}

body{
    width: 80%;
    text-align: center;
    margin: auto;
    font-family: 'Quicksand', sans-serif
}

.title{
    font-family: 'Quicksand', sans-serif;
    color: #e53170;
    padding: 30px;
}